* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  line-height: 1;
  letter-spacing: 0.2px;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 0.4px;
}

a {
  text-decoration: none;
  color: dodgerblue;
}

a:hover {
  text-decoration: none;
  color: deepskyblue;
}

template {
  display: none;
}

main {
  display: flex;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}