.app-calc {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.app-calc .btn {
  height: 64px;
  width: 64px;
  margin: 2px;
  border: 0;
  cursor: pointer;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  padding: 0;
}

.calc-wrapper {
  margin: 0 auto;
  font-size: 0;
  padding: 12px;
  border: 1px solid #010404;
}

.calc-row {
  display: flex;
  flex-direction: row;
}

.calc-display {
  width: 268px;
  margin: 10px 2px;
  padding: 6px;
  border: 1px solid #010404;
}

#answer {
  height: 21.333px;
  width: 100%;
  font-size: 15.666px;
  text-align: right;
}

.calc-input {
  height: 42.666px;
  width: 100%;
  padding: 0px;
  border-radius: 0;
  border: 0;
  font-size: 26.333px;
  outline: 0;
  text-align: right;
}